<!-- src/app/app.component.html -->
<header class="bg-blue-600 text-white py-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <p class="text-12l font-bold" style="font-size: 20px;">Gestor de CRM - Proyecto Final de BootCamp Talento Tech</p>
    <nav class="space-x-4">
      <a (click)="navigateTo('/home')" class="menu-link hover:underline">Inicio</a>
      <a (click)="navigateTo('/register')" class="menu-link hover:underline">Registrar nuevo usuario</a>
      <a (click)="navigateTo('/login')" class="menu-link hover:underline">Iniciar sesión</a>
      <a (click)="navigateTo('/analitica')" class="menu-link hover:underline">Análisis de datos</a>
    </nav>
  </div>
</header>


<main class="container mx-auto my-8 p-4 bg-white rounded shadow-lg">
  <router-outlet></router-outlet>
</main>

<footer class="bg-blue-600 text-white py-4 mt-8">
  <div class="container mx-auto text-center">
    <p>&copy; 2023 Gestor de CRM - Proyecto Final de BootCamp Talento Tech. Todos los derechos reservados.</p>
    <p class="text-sm">Elaborado por: Ing. Jaime Alberto Gutiérrez. CC 9733675</p>
    <p class="text-sm">Contacto: <a href="mailto:info@miapp.com" class="hover:underline" style="color:black">jaimealbertogutierrez&#64;gmail.com</a></p>
  </div>
</footer>
