<!--Inicio formulario de inicio de sesión -->
<div class="max-w-md mx-auto bg-white rounded-lg shadow-md overflow-hidden md:max-w-md p-6">
  <h2 class="text-2xl font-bold mb-4 text-center">Iniciar sesión</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="mb-4">
      <label for="correo_electronico" class="block text-gray-700 text-sm font-bold mb-2">Correo Electrónico:</label>
      <input
        type="email"
        id="correo_electronico"
        formControlName="correo_electronico"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Ingrese su correo electrónico"
      />
    </div>
    <div class="mb-4">
      <label for="clave" class="block text-gray-700 text-sm font-bold mb-2">Contraseña:</label>
      <input
        type="password"
        id="clave"
        formControlName="clave"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        placeholder="Ingrese su Contraseña"
      />
    </div>
    <div class="flex items-center justify-between">
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        Iniciar sesión
      </button>
    </div>
    <div *ngIf="loginError" class="text-red-500 text-center mt-4">{{ loginError }}</div>
  </form>
</div>
<!--Fin formulario de inicio de sesión -->
