<div class="container mt-4">
  <h2>Detalles de Clientes</h2>
  <div *ngIf="entity">
    <p><strong>ID:</strong> {{ entity.cliente_id }}</p>
    <p><strong>Nombre:</strong> {{ entity.nombre }}</p>
    <p><strong>Dirección:</strong> {{ entity.direccion }}</p>
    <p><strong>Correo Electrónico:</strong> {{ entity.correo_electronico }}</p>
    <p><strong>Teléfono:</strong> {{ entity.telefono }}</p>
  </div>
  <br/>
  <button class="btn btn-primary mt-3" (click)="navigateBack()">Regresar a la lista de clientes</button>
</div>
