<div class="container mt-4">
  <h2>Detalles de la Oportunidad</h2>
  <div *ngIf="oportunidad">
    <p><strong>ID de Oportunidad:</strong> {{ oportunidad.oportunidad_id }}</p>
    <p><strong>ID de Cliente:</strong> {{ oportunidad.cliente_id }}</p>
    <p><strong>Descripción:</strong> {{ oportunidad.descripcion }}</p>
    <p><strong>Estado:</strong> {{ oportunidad.estado }}</p>
    <p><strong>Fecha de Creación:</strong> {{ oportunidad.fecha_creacion | date:'mediumDate' }}</p>
  </div>
  <br/>
  <button class="btn btn-primary mt-3" (click)="navigateBack()">Regresar a la lista de interacciones</button>
  <div *ngIf="!oportunidad">
    <p>Cargando detalles de la oportunidad...</p>
  </div>
</div>
