.register-form {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* Ancho máximo del formulario */
  margin: auto; /* Centrar el formulario */
}

.form-group {
  margin-bottom: 1.5rem; /* Espacio entre grupos de formulario */
}

label {
  display: block; /* Asegura que las etiquetas ocupen todo el ancho */
  margin-bottom: 0.5rem; /* Espacio entre la etiqueta y el input */
  font-weight: bold; /* Opcional: resaltar las etiquetas */
}

.form-control {
  border: 1px solid #ccc; /* Color del borde */
  border-radius: 4px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  width: 100%; /* Hace que el input ocupe todo el ancho disponible */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

.submit-button {
  padding: 10px 15px; /* Espaciado interno del botón */
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

.submit-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}


.success-message {
  font-size: 2.5em; /* Tamaño similar a H1 */
  font-weight: bold;
  color: #3a5f3a; /* Verde mate */
}

.error-message {
  font-size: 2.5em; /* Tamaño similar a H1 */
  font-weight: bold;
  color: red; /* Verde mate */
}
